<div id="donations-once">
  <div class="form-check">
    <input id="donate-100" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/2K2WyAW">
    <label class="form-check-label" for="donate-100">
      Donar $ 100 una sola vez
    </label>
  </div>
  <div class="form-check">
    <input id="donate-200" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/1qp9LSm">
    <label class="form-check-label" for="donate-200">
      Donar $ 200 una sola vez
    </label>
  </div>
  <div class="form-check">
    <input id="donate-300" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/2ViKgBs">
    <label class="form-check-label" for="donate-300">
      Donar $ 300 una sola vez
    </label>
  </div>
  <div class="form-check">
    <input id="donate-500" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/1czA7Q1">
    <label class="form-check-label" for="donate-500">
      Donar $ 500 una sola vez
    </label>
  </div>
  <div class="form-check">
    <input id="donate-1000" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/2fZT1PA">
    <label class="form-check-label" for="donate-1000">
      Donar $ 1000 una sola vez
    </label>
  </div>
  <div class="form-check">
    <input id="donate-2000" class="form-check-input" type="radio" name="donations-once" value="http://mpago.li/1AUyGbR" checked>
    <label class="form-check-label" for="donate-2000">
      Donar $ 2000 una sola vez
    </label>
  </div>

  {% include donations-button.html %}
</div>


