<div id="donations-once" class="input-group">
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/2K2WyAW">
      Donar $ 100 una sola vez
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/1qp9LSm">
      Donar $ 200 una sola vez
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/2ViKgBs">
      Donar $ 300 una sola vez
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/1czA7Q1">
      Donar $ 500 una sola vez
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/2fZT1PA">
      Donar $ 1000 una sola vez
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-once" value="http://mpago.li/1AUyGbR" checked>
      Donar $ 2000 una sola vez
    </label>
  </div>

  {% include donations-button.html %}
</div>


