@font-face {
  font-family: "IndieFlower";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: 'Open Sans', sans-serif;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: #215f9c;
}

a:link, a: visited {
  color: #000;
  text-decoration: none;
}

.content a:hover {
  color: #aeaeae;
  text-decoration: underline;
}

nav {
  border-bottom: #215f9c solid 3px;
  margin-bottom: 20px;
}

.navbar-brand {
  color: #333333;
  font-family: IndieFlower;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.nav-item {
    margin: auto;
}

.nav-link {
  border-radius: 8px;
  color: #215f9c;
  text-align: center;
}

.nav-item.active .nav-link {
  background: #215f9c;
  color: #fff;
}

.main-content {
  margin: auto;
}

.button-donate {
  background: #3393f2;
  background-image: -webkit-linear-gradient(top, #3393f2, #215f9c);
  background-image: -moz-linear-gradient(top, #3393f2, #215f9c);
  background-image: -ms-linear-gradient(top, #3393f2, #215f9c);
  background-image: -o-linear-gradient(top, #3393f2, #215f9c);
  background-image: linear-gradient(to bottom, #3393f2, #215f9c);
  border: none;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 15px;
  padding: 8px 16px;
  text-decoration: none;
}

.button-donate:hover {
  background: #3393f2;
  background-image: -webkit-linear-gradient(top, #369bff, #3393f2);
  background-image: -moz-linear-gradient(top, #369bff, #3393f2);
  background-image: -ms-linear-gradient(top, #369bff, #3393f2);
  background-image: -o-linear-gradient(top, #369bff, #3393f2);
  background-image: linear-gradient(to bottom, #369bff, #3393f2);
  text-decoration: none;
}


.button-donate a:link, .button-donate a:visited {
  display: inline-block;
  padding-left: 5px;
  line-height: 50px;
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.button-donate a:hover {
  color: #ffffff;
}

.button-donate img {
  display: inline-block;
  line-height: 50px;
  padding-right: 10px;
  vertical-align: middle;
}

